.lobster_font {
    font-family: Lobster, display !important;
}

.montserrat_font {
    font-family: Montserrat, display !important;
}

.header {
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 3vw;
    text-shadow: 0 0 1vw rgba(0, 0, 0, 0.7);

}

.empty {
    background-color: #e5e5e5;
    color: #e5e5e5
}

.card-title {
    font-family: Lobster, display !important;
}

.card-img-top {
    height: 270px;
}

.footer {
    text-align: center;
    background-color: #e5e5e5;
    font-size: 11px;

}

.normal-text {
    color: black;
    text-align: left
}
