{% extends "base.html" %}

{% block content %}
    <img class="img-fluid " src="../static/images/front_page_logo.jpg" alt="">

    <div class="container normal-text my-4">
        <div class="row">
            <div class="col-8">
                <b>Do you want to make something special but have no idea what to cook?</b>
                <br>
                <b>Don't worry, we'll help you with that!</b>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 pt-4 pt-md-3">
                Try our new feature which offers you delicious dishes based on the content of your fridge!
            </div>
            <div class="col-md-3 pt-2">
                <a class="btn btn-md justify-content-md-end" href="#" role="button"
                   style="background: #94509e; color: white; border: none"><b>TRY IT NOW!</b></a>
            </div>
        </div>
    </div>

    <div class="container-fluid empty"> empty</div>

    <div class="container normal-text my-4">
        <h4><b>Our lately posts</b></h4>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="../static/images/meal_3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title lobster_font">Steak with asparagus</h4>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/images/meal_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Spaghetti frutti di mare</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/images/meal_2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Cucumber salad</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}